{{!-- jQuery for Deleting --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section class="content">

    <h2>Customers</h2>

    <table id="customers-table">
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th>Delete</th>
                {{#each customers.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each customers}}
            <tr>
                <td><button onclick="delete_customer({{this.customer_id}})">Delete</button></td>
                <td>{{this.customer_id}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone_num}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.num_orders}}</td>
                <td>{{this.num_drinks}}</td>
                <td>{{this.total_spent}}</td>
                <td>{{this.drinks_to_free}}</td>
                <td>{{this.num_free_drinks}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="delete_customer.js"></script>

    <p></p>

    <form id="add-customer-form-ajax">
        <label for="input-email"> Email</label>
        <input type="text" id="input-email" name="input-email" minlength="1" maxlength="20" required>
        
        <label for="input-phone_num"> Phone Number</label>
        <input type="text" id="input-phone_num" name="input-phone_num" minlength="1" maxlength="20">
        
        <label for="input-first_name"> First Name</label>
        <input type="text" id="input-first_name" name="input-first_name" minlength="1" maxlength="20" required>
        
        <label for="input-last_name"> Last Name</label>
        <input type="text" id="input-last_name" name="input-last_name" minlength="1" maxlength="20" required>
    
        <p></p>

        <button type="submit">Register</button>
        <button type="reset">Cancel</button>
    </form>
    <script src="add_customer.js"></script>

    <p></p>

    <form id="update-customer-form-ajax">
        <label for="input-customer_id">Customer #</label>
        <select name="input-customer_id" id="input-customer_id">
            <option value=""></option>
            {{#each customers}}
            <option value="{{this.customer_id}}">{{this.customer_id}}</option>
            {{/each}}
        </select>
        
        <label for="update-phone_num"> Phone Number</label>
        <input type="number" id="update-phone_num" name="update-phone_num" minlength="1" maxlength="20" required>
        
        <label for="update-first_name"> First Name</label>
        <input type="text" id="update-first_name" name="update-first_name" minlength="1" maxlength="20" required>
        
        <label for="update-last_name"> Last Name</label>
        <input type="text" id="update-last_name" name="update-last_name" minlength="1" maxlength="20" required>
        
        <p></p>

        <button type="submit">Update Customer</button>
        <button type="reset">Cancel</button>
    </form>
    <script src="update_customer.js"></script>
</section>
