<section class="content">
    <h2>Customers</h2>

    <table>
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th><a href=#>New</a></th>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each data}}
            <tr>
                <td><a href=#>Edit</a></td>
                <td><a href=#>Delete</a></td>
                <td>{{this.customer_id}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone_num}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.num_orders}}</td>
                <td>{{this.num_drinks}}</td>
                <td>{{this.total_spent}}</td>
                <td>{{this.drinks_to_free}}</td>
                <td>{{this.num_free_drinks}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <form action="/~yeoki/cs340/customers" method="GET">
        <label for="new_email"> Email</label>
        <input type="text" id="email" name="new_email" minlength="1" maxlength="20" required>
        <label for="new_phone"> Phone Number</label>
        <input type="text" id="phone_num" name="new_phone" minlength="1" maxlength="20" required>
        <label for="new_first"> First Name</label>
        <input type="text" id="first_name" name="new_first" minlength="1" maxlength="20" required>
        <label for="new_last"> Last Name</label>
        <input type="text" id="last_name" name="new_last" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Register</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <form action="/~yeoki/cs340/customers" method="GET">
        <label for="target_customer"> Customer ID</label>
        <input type="text" id="customer_id" name="target_customer" minlength="1" maxlength="20" required>
        <label for="target_category"> Attribute Name</label>
        <input type="text" id="name" name="target_category" minlength="1" maxlength="20" required>
        <label for="new_val"> New Value</label>
        <input type="text" id="value" name="new_value" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Update Customer</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <form action="/~yeoki/cs340/customers" method="GET">
        <label for="target_customer"> Customer ID</label>
        <input type="text" id="customer_id" name="target_customer" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Remove Customer</button>
        <button type="reset">Cancel</button>
    </form>
</section>