<section class="content">
    <h2>Drinks</h2>

    <table>
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th><a href=#>New</a></th>
                <th></th>
                {{#each drinks.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each drinks}}
            <tr>
                <td><a href=#>Edit</a></td>
                <td><a href=#>Delete</a></td>

                <td>{{this.drink_id}}</td>
                <td>{{this.base_flavor}}</td>
                <td>{{this.small_price}}</td>
                <td>{{this.small_price}}</td>
                <td>{{this.can_be_hot}}</td>
                <td>{{this.is_flavored_sweetener}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <form action="/~yeoki/cs340/menu" method="GET">
        <label for="new_flavor"> Base Flavor</label>
        <input type="text" id="base_flavor" name="new_flavor" minlength="1" maxlength="20" required>
        <label for="new_small"> Small Price</label>
        <input type="text" id="small_price" name="small" minlength="1" maxlength="20" required>
        <label for="new_reg"> Regular Price</label>
        <input type="text" id="reg_price" name="new_reg" minlength="1" maxlength="20" required>

        <label for="new_hot"> Can Be Hot</label>
        <input type="text" id="can_be_hot" name="new_hot" minlength="1" maxlength="20" required>
        <label for="new_sweetener"> Is Flavored Sweetener</label>
        <input type="text" id="is_flavored_sweetener" name="new_sweetener" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Add Drink</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <form action="/~yeoki/cs340/menu" method="GET">
        <label for="target_drink"> Drink ID</label>
        <input type="text" id="drink_id" name="target_drink" minlength="1" maxlength="20" required>
        <label for="target_category"> Attribute Name</label>
        <input type="text" id="name" name="target_category" minlength="1" maxlength="20" required>
        <label for="new_val"> New Value</label>
        <input type="text" id="value" name="new_value" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Update Drink</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <form action="/~yeoki/cs340/menu" method="GET">
        <label for="target_drink"> Drink ID</label>
        <input type="text" id="drink_id" name="target_drink" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Remove Drink</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <h2>AddOns</h2>

    <table>
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th><a href=#>New</a></th>
                <th></th>
                {{#each addons.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each addons}}
            <tr>
                <td><a href=#>Edit</a></td>
                <td><a href=#>Delete</a></td>
                <td>{{this.add_on_id}}</td>
                <td>{{this.topping}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <form action="/~yeoki/cs340/menu" method="GET">
        <label for="new_topping"> Topping</label>
        <input type="text" id="topping" name="new_topping" minlength="1" maxlength="20" required>
        <label for="new_price"> Price</label>
        <input type="text" id="price" name="new_price" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Add Topping</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <form action="/~yeoki/cs340/menu" method="GET">
        <label for="target_topping"> Topping ID</label>
        <input type="text" id="add_on_id" name="target_topping" minlength="1" maxlength="20" required>
        <label for="target_category"> Attribute Name</label>
        <input type="text" id="name" name="target_category" minlength="1" maxlength="20" required>
        <label for="new_val"> New Value</label>
        <input type="text" id="value" name="new_value" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Update Topping</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <form action="/~yeoki/cs340/menu" method="GET">
        <label for="target_topping"> Topping ID</label>
        <input type="text" id="add_on_id" name="target_topping" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Remove Topping</button>
        <button type="reset">Cancel</button>
    </form>
</section>
