{{!-- jQuery for Deleting --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section class="content">

    <h2>Orders</h2>

    <table id="orders-table">
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th>Delete</th>
                {{#each orders.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
            </tr>

            {{#each orders}}
            <tr>
                <td><button onclick="delete_order({{this.order_id}})">Delete</button></td>
                {{!-- <td><a href=#>Delete</a></td> --}}
                <td>{{this.order_id}}</td>
                <td>{{this.customer_id}}</td>
                <td>{{this.order_date}}</td>
                <td>{{this.num_drinks}}</td>
                <td>{{this.total_cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="delete_order.js"></script>

    <p></p>

    <form id="add-order-form-ajax">
        <label for="input-customer_id">Customer ID</label>
        {{!-- <input type="text" id="input-customer_id" name="input-customer_id" minlength="1" maxlength="20" required> --}}
        <select name="input-customer_id" id="input-customer_id">
            <option value="">Select a customer</option>
            {{#each customers}}
            <option value="{{this.customer_id}}">{{[Full Name]}}</option>
            {{/each}}
        </select>

        <label for="input-order_date">Date/Time</label>
        <input type="text" id="input-order_date" name="input-order_date" minlength="1" maxlength="20" required>

        <label for="input-num_drinks">Number of Drinks</label>
        <input type="number" id="input-num_drinks" name="input-num_drinks" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Add Order</button>
        <button type="reset">Cancel</button>
    </form>
    <script src="add_order.js"></script>

    <p></p>

    <form id="update-order-form-ajax">
        <label for="input-order_id">Order #</label>
        <select name="input-order_id" id="input-order_id">
            <option value="">Select an Order</option>
            {{#each orders}}
            <option value="{{this.order_id}}">{{this.order_id}}</option>
            {{/each}}
        </select>

        <label for="update-input-num_drinks">Number of Drinks</label>
        <input type="number" id="update-input-num_drinks" name="update-input-num_drinks" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Update Order</button>
        <button type="reset">Cancel</button>
    </form>
    <script src="update_order.js"></script>

    <p></p>


    <h2>DrinkOrders</h2>

    <table>
        <tbody>
            {{!-- Table Header --}}
            <tr>
                {{#each drink_orders.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each drink_orders}}
            <tr>
                <td>{{this.drink_order_id}}</td>
                <td>{{this.order_id}}</td>
                <td>{{this.drink_id}}</td>
                <td>{{this.seq_number}}</td>
                <td>{{this.sweetness_lvl}}</td>
                <td>{{this.is_cold}}</td>
                <td>{{this.drink_size}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <h2>AddOnDetails</h2>

    <table>
        <tbody>
                {{!-- Table Header --}}
            <tr>
                {{#each addon_details.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each addon_details}}
            <tr>
                <td>{{this.add_on_detail_id}}</td>
                <td>{{this.drink_order_id}}</td>
                <td>{{this.add_on_id}}</td>
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
