<section class="content">

    <h2>Orders</h2>

    <table id="orders-table">
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th><a href=#>Delete</a></th>
                {{#each orders.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
            </tr>

            {{#each orders}}
            <tr>
                <td><a href=#>Delete</a></td>
                <td>{{this.order_id}}</td>
                <td>{{this.customer_id}}</td>
                <td>{{this.order_date}}</td>
                <td>{{this.num_drinks}}</td>
                <td>{{this.total_cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <form id="add-order-form-ajax">
        <label for="input-customer_id">Customer ID</label>
        <input type="text" id="input-customer_id" name="input-customer_id" minlength="1" maxlength="20" required>
        <label for="input-order_date">Date/Time</label>
        <input type="text" id="input-order_date" name="input-order_date" minlength="1" maxlength="20" required>
        <label for="input-num_drinks">Number of Drinks</label>
        <input type="number" id="input-num_drinks" name="input-num_drinks" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Add Order</button>
        <button type="reset">Cancel</button>
    </form>

    <script src="add_order.js"></script>

    <p></p>

    <form action="/~yeoki/cs340/orders" method="GET">
        <label for="target_order"> Order ID</label>
        <input type="text" id="order_id" name="target_order" minlength="1" maxlength="20" required>

        <p></p>

        <button type="submit">Remove Order</button>
        <button type="reset">Cancel</button>
    </form>

    <p></p>

    <h2>DrinkOrders</h2>

    <table>
        <tbody>
            {{!-- Table Header --}}
            <tr>
                {{#each drink_orders.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each drink_orders}}
            <tr>
                <td>{{this.drink_order_id}}</td>
                <td>{{this.order_id}}</td>
                <td>{{this.drink_id}}</td>
                <td>{{this.seq_number}}</td>
                <td>{{this.sweetness_lvl}}</td>
                <td>{{this.is_cold}}</td>
                <td>{{this.drink_size}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <h2>AddOnDetails</h2>

    <table>
        <tbody>
                {{!-- Table Header --}}
            <tr>
                {{#each addon_details.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each addon_details}}
            <tr>
                <td>{{this.add_on_detail_id}}</td>
                <td>{{this.drink_order_id}}</td>
                <td>{{this.add_on_id}}</td>
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
