{{!-- jQuery for Deleting --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section class="content">

    <h2>Orders</h2>

    <table id="orders-table">
        <tbody>
            {{!-- Table Header --}}
            <tr>
                <th>Delete</th>
                {{#each orders.[0]}}
                    <th>
                        {{@key}}
                    </th>
                {{/each}}
            </tr>

            {{#each orders}}
            <tr>
                <td><button onclick="delete_order({{[Order ID]}})">Delete</button></td>
                {{!-- <td><a href=#>Delete</a></td> --}}
                <td>{{[Order ID]}}</td>
                <td>{{[Customer ID]}}</td>
                <td>{{[Order Date]}}</td>
                <td>{{[Number of Drinks]}}</td>
                <td>{{[Total Cost]}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="delete_order.js"></script>


    <form id="add-order-form-ajax">
        <h3>Create an Order</h3>
        <label for="input-customer_id" class="required-field">Customer ID</label>
        <select name="input-customer_id" id="input-customer_id">
            <option value="" aria-placeholder="Name"></option>
            {{#each customers}}
            <option value="{{this.customer_id}}">{{[Full Name]}}</option>
            {{/each}}
        </select>

        <br/>

        <label for="input-order_date" class="required-field">Date/Time (YYYY-MM-DD HH:MM:SS):</label>
        <input type="text" id="input-order_date" name="input-order_date" placeholder="YYYY-MM-DD HH:MM:SS" minlength="1" maxlength="20" required>

        <br/>

        <ol id="add-drinks-list">
            <li>
                <label for="input-drink_id" class="required-field">Drink Flavor</label>
                <select name="input-drink_id" id="input-drink_id">
                    <option value=""></option>
                    {{#each drinks}}
                    <option value="{{this.drink_id}}">{{[Flavor]}}</option>
                    {{/each}}
                </select>

                <label for="input-add_on_id">Topping</label>
                <select name="input-add_on_id" id="input-add_on_id">
                    <option value=""></option>
                    {{#each addons}}
                    <option value="{{this.add_on_id}}">{{[Topping]}}</option>
                    {{/each}}
                </select>

                <label for="input-sweetness_lvl" class="required-field">Sweetness</label>
                <select name="input-sweetness_lvl" id="input-sweetness_lvl">
                    <option value="100">100%</option>
                    <option value="75">75%</option>
                    <option value="25">25%</option>
                    <option value="0">0%</option>
                </select>

                <label for="input-drink_size" class="required-field">Size</label>
                <select name="input-drink_size" id="input-drink_size">
                    <option value="R">Regular</option>
                    <option value="S">Small</option>
                </select>
            </li>
        </ol>


        <button type="submit">Submit Order</button>
        <button type="reset">Cancel</button>
    </form>
    <script src="add_order.js"></script>

    <p></p>

    <form id="update-order-form-ajax">
        <label for="input-order_id" class="required-field">Order ID</label>
        <select name="input-order_id" id="input-order_id">
            <option value=""></option>
            {{#each orders}}
            <option value="{{[Order ID]}}">{{[Order ID]}}</option>
            {{/each}}
        </select>

        <br/>

        <label for="update-input-num_drinks" class="required-field">Number of Drinks</label>
        <input type="number" id="update-input-num_drinks" name="update-input-num_drinks" minlength="1" maxlength="20" required>

        <br/>

        <button type="submit">Update Order</button>
        <button type="reset">Cancel</button>
    </form>
    <script src="update_order.js"></script>

    <p></p>


    <h2>DrinkOrders</h2>

    <table>
        <tbody>
            {{!-- Table Header --}}
            <tr>
                {{#each drink_orders.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each drink_orders}}
            <tr>
                <td>{{[Drink Order ID]}}</td>
                <td>{{[Order ID]}}</td>
                <td>{{[Drink ID]}}</td>
                <td>{{[Drink Number]}}</td>
                <td>{{[Sweetness]}}</td>
                <td>{{[Is Cold]}}</td>
                <td>{{[Drink Size]}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p></p>

    <h2>AddOnDetails</h2>

    <table>
        <tbody>
                {{!-- Table Header --}}
            <tr>
                {{#each addon_details.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>

            {{!-- Rows --}}
            {{#each addon_details}}
            <tr>
                <td>{{[Add On Detail ID]}}</td>
                <td>{{[Drink Order ID]}}</td>
                <td>{{[Add On ID]}}</td>
                <td>{{[Quantity]}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
